# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui

# Dados fornecidos
dados = {
    1900: -0.08,
    1920: -0.27,
    1940: 0.12,
    1960: -0.03,
    1980: 0.26,
    2000: 0.40,
    2020: 1.02
}

# Criar uma série do pandas a partir dos dados
serie_mudanca = pd.Series(dados, name='Variações Térmicas')

print(serie_mudanca)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Variações Térmicas, dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui

# Criar uma série do pandas a partir dos dados, com os anos como índices
serie_mudanca = pd.Series(list(dados.values()), index=list(dados.keys()), name='Variações Térmicas')

print(serie_mudanca)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Variações Térmicas, dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

# Criar uma série do pandas a partir do dicionário
serie_temperaturas = pd.Series(dic_temperaturas, name='Variações Térmicas')

print(serie_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
Name: Variações Térmicas, dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

# Criar o ndarray
arr = np.random.normal(100, 10, (20, 3))

# Criar um DataFrame a partir do ndarray
df = pd.DataFrame(arr, columns=['Coluna 1', 'Coluna 2', 'Coluna 3'])

print(df)

      Coluna 1    Coluna 2    Coluna 3
0    74.750774  108.759720   81.016248
1   100.679137   91.276645   92.786648
2   110.990301   91.460296   98.781323
3   108.457686   92.076332   89.268340
4   113.497908   96.313273  112.550855
5    95.683893  100.869080  108.532744
6    90.093549  110.112057  107.681056
7   104.761007   94.990386  104.881324
8   107.288600  100.567529  104.682818
9   107.639544  100.519374   89.698698
10  100.794176  121.230828  105.307220
11   89.970008  103.761509  106.187627
12   90.810279   94.854631   91.757556
13  106.443256  111.634707  104.641496
14  119.565816  106.211697   90.386549
15   83.993954  120.539968  108.264377
16   94.087122   94.958344   86.823967
17   94.689089   99.396186   96.344668
18   81.967753  124.116808  109.988107
19   85.269204  106.453693   89.184602

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [9]:
#seu código aqui

# Criar o ndarray
arr = np.random.normal(100, 10, (20, 3))

# Criar um DataFrame a partir do ndarray com índices e colunas nomeadas
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index=range(1, 21))

print(df)

            x1          x2          x3
1   118.781351  102.523264   90.773614
2    91.084192   98.848252   99.311742
3   106.519994  100.933371  115.041184
4   107.469620   87.553996  104.053687
5   106.180129  101.901729   83.874595
6    93.886301   88.781678  102.116739
7   107.237014  118.409806   94.219082
8    88.403588  102.865484  104.634398
9    98.516622  109.659004   72.264014
10   74.358395   88.854513  100.727809
11  124.756253   98.112023   87.981211
12   88.509716  103.270453   91.305990
13  106.523194   82.025834  107.793832
14  107.468919   84.638963  103.007270
15  117.490213  102.509677   73.501768
16  124.798113   94.543950   87.444421
17  103.623107  101.400787   90.550221
18  102.750850   96.999322   94.365999
19  111.861719   92.036659  106.595513
20  100.219479   90.729266   95.845130

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [10]:
# seu código aqui

# Criar um DataFrame a partir do ndarray com índices e colunas nomeadas
df = pd.DataFrame(arr, columns=['x1', 'x2', 'x3'], index=range(1, 21))

# Calcular a média das três colunas
df['media'] = df.mean(axis=1)

print(df)

            x1          x2          x3       media
1   118.781351  102.523264   90.773614  104.026076
2    91.084192   98.848252   99.311742   96.414729
3   106.519994  100.933371  115.041184  107.498183
4   107.469620   87.553996  104.053687   99.692434
5   106.180129  101.901729   83.874595   97.318818
6    93.886301   88.781678  102.116739   94.928240
7   107.237014  118.409806   94.219082  106.621967
8    88.403588  102.865484  104.634398   98.634490
9    98.516622  109.659004   72.264014   93.479880
10   74.358395   88.854513  100.727809   87.980239
11  124.756253   98.112023   87.981211  103.616496
12   88.509716  103.270453   91.305990   94.362053
13  106.523194   82.025834  107.793832   98.780953
14  107.468919   84.638963  103.007270   98.371717
15  117.490213  102.509677   73.501768   97.833886
16  124.798113   94.543950   87.444421  102.262162
17  103.623107  101.400787   90.550221   98.524705
18  102.750850   96.999322   94.365999   98.038724
19  111.861719   92.036659  106.595513  103.497964
20  100.219479   90.729266   95.845130   95.597958

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [11]:
# seu código aqui

# Calcular o logaritmo natural da média e criar uma nova coluna
df['log_med'] = np.log(df['media'])

print(df)

            x1          x2          x3       media   log_med
1   118.781351  102.523264   90.773614  104.026076  4.644642
2    91.084192   98.848252   99.311742   96.414729  4.568659
3   106.519994  100.933371  115.041184  107.498183  4.677474
4   107.469620   87.553996  104.053687   99.692434  4.602090
5   106.180129  101.901729   83.874595   97.318818  4.577992
6    93.886301   88.781678  102.116739   94.928240  4.553121
7   107.237014  118.409806   94.219082  106.621967  4.669290
8    88.403588  102.865484  104.634398   98.634490  4.591421
9    98.516622  109.659004   72.264014   93.479880  4.537746
10   74.358395   88.854513  100.727809   87.980239  4.477112
11  124.756253   98.112023   87.981211  103.616496  4.640697
12   88.509716  103.270453   91.305990   94.362053  4.547139
13  106.523194   82.025834  107.793832   98.780953  4.592905
14  107.468919   84.638963  103.007270   98.371717  4.588753
15  117.490213  102.509677   73.501768   97.833886  4.583271
16  124.798113   94.543950   87.444421  102.262162  4.627540
17  103.623107  101.400787   90.550221   98.524705  4.590307
18  102.750850   96.999322   94.365999   98.038724  4.585363
19  111.861719   92.036659  106.595513  103.497964  4.639552
20  100.219479   90.729266   95.845130   95.597958  4.560151